@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



::selection {
  background-color: #fdf7c3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  background-color: #0BA2CF;
  /* flex-wrap: wrap; */
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items:inherit; 
  flex: 1; 
  /* flex-wrap: inherit; */
}
.menu {
  height: inherit;
  margin: 0 16px;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
  /* border: 1px solid red; */
  align-items: center;
  height: inherit;
  /* flex-wrap: wrap; */
}

ul li {
  height: inherit;
 
}

li a {
  margin: 0 27px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  height: inherit;
  display: flex;
  align-items: center;
  font-size: 14px;
  
}

.logo-simger img  {
  margin-left: 15px;
  max-width: 120px;
}

.logo-gov img  {
  max-width: 210px;
}

.hero {
  /* max-width: 100%;
  height: 637px; */
  background-image: url(../image/hero-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 66px 0 20px;
  position: relative;
}
.hero-container {
  max-width: 1366px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 54px;
  color: #044052;

}

.event-dates {
  /* border: 1px solid red; */
  margin: 85px 0 62px;
  box-sizing: border-box;
  
}

.item{
  
  display: inline-block;
  text-align: center;
  
}

.item h4 {
  color: white;
  font-size: 24px;
  
}

.item p {
  margin-top: 9px;
}

.item {
  font-size: 19px;
  color: #044052;
}

.place {
  margin-right: 28px;
}

.date {
  /* margin:0 28px; */
  border-left: 1px solid #29235C;
  border-right: 1px solid #29235C ;
  padding: 0 28px;
}

.hour {
  margin-left: 28px;
}

.container-title-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title-event img {
  width: 17px;
  height: 17px;
  margin-right: 8px;


}
.hero-container button {
  background-color: transparent;
  border: none;
  height: 81px;
  
}
.button-event {
  background-color: #FE6F4C ;
  padding: 30px 70px ;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;

}

.slides-button {
  width: 50%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.slides-button a {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin: 0 10px;
  background-color: white;
  
  
}

.slides-b:nth-of-type(1) {
  background-color: #044052;
  width: 20px;
  height: 20px;
  
}

.hero-container hr {
  width: 140px;
  border: 2px solid #044052;
  margin-top: 18px;
}

.arrow-container{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 42%;

}

.arrow-left, .arrow-right {
  width: 85px;
  height: 73px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;  
  align-items: center;
  opacity: 0.4;
  
}

.arrow-left a {
  
  background-image: url(../image/Trazado\ 1055.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  /* opacity: .5; */
  width: 20px;
  height: 20px;

}

.arrow-right a {
  background-image: url(../image/Trazado\ 1056.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  /* opacity: .5; */
  width: 20px;
  height: 20px;


}

.arrow-left:hover{
  opacity: 1;

} 

.arrow-right:hover {
  opacity: 1;
}

.last-news {
  max-width: 1366px;
  margin: 0 auto;
}

.title-news {
  margin: 42px 0;
  font-size: 30px;
  color: #044052;
  font-weight: 700;
  
}

.title-news hr {
  width: 53px;
  border: 2px solid;
  border-color: #F95027;
  margin-top: 5px;
}
.last-news-container {
  height: 543px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,1fr);
  column-gap: 16px;
  row-gap: 20px;
  justify-content: center;
}

.news:nth-of-type(1) {
  grid-row: 1 / 4;
  background-image: url(../image/Grupo\ 385@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

}



.news:nth-of-type(1) img {
  max-width: 100%;
  
}

.description-news-p {
  position: absolute;
  bottom: 0;
  margin: 0 0 40px 18px;
}

.description-news-p h5 {
  font-weight: 300;
  color: #F95027;
  font-size: 20px;
}
.description-news-p h2 {
  font-weight: 700;
  color: white;
  font-size: 40px;
  max-width: 448px;
}

.description-news {
  margin-left: 20px;
}

.description-news h5{
  font-weight: 300;
  color: #F95027;
  font-size: 14px;
}

.description-news h2 {

  font-weight: 700;
  color: #044052;
  font-size: 25px;
  max-width: 448px;
  margin-bottom: 12px;

}

.description-news p {
  font-size: 14px;
  color: #414141;
  line-height: 22.4px;
}
.news:nth-of-type(2) {
  display: flex;
}

.news:nth-of-type(3) {
  display: flex;
}
.news:nth-of-type(4) {
  display: flex;
}

.news:nth-of-type(4) figure {
  position: relative;
}

.news:nth-of-type(4) img {
  position: inherit;
  bottom: -4px;
}

.recomendation-video-container {
  max-width: 1366px;
  margin:0 auto;
  display: grid;
  /* grid-template-columns: 1fr auto; */
  grid-template-columns: repeat(auto-fit,minmax(320px,auto));
}

.description-recomendation {
  align-self: center;
  max-width: 83%;
}

.description-recomendation  h2{

  font-size: 50px;
  font-weight: 700;
  color: #044052;
  
}

.description-recomendation hr{
  width: 53px;
  border: 2px solid;
  border-color: #F95027;
  margin-top: 11px;
  margin-bottom: 32px;

}

.description-recomendation p {
  font-size: 16px;
  color: #414141;
  line-height: 22.4px;
  font-weight: 300;
}

.video-container {
  align-self: center;
}

.video-container img {
  width: 86%;
}

.recomendation-video {
  margin: 76px 0 138px;
  padding: 32px 0 54px;
  background-color: #F8F8F8;
}

.newsletter {
  background-image: url(../image/Grupo\ 384.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}

.newsletter-container {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.newsletter-container h2 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  color: #044052;


}

.form-email {
  max-width: 54%;
}


.form-email input{

  padding: 18px 18px;
  border: none;
  margin-right: 10px;

}

.newsletter-image {
  /* width: 513px; */
  margin-top: -86px;
}

.newsletter-image img {
  margin-bottom: -4px;
}

.form-email button {
  padding: 18px 28px;
  border: none;
  background-color: #FE6F4C;
  color: white;
}

.interesting-place h2 {
  margin: 42px 0 0;
font-size: 30px;
color: #044052;
font-weight: 700;
text-align: center;
}

.interesting-place hr {

  width: 53px;
  margin: 0 auto;
  border: 2px solid;
  border-color: #F95027;
  margin-top: 5px;
}

.banner-ungrd {
  margin-top: 50px;
  width: 100%;
  height: auto;
  background-color: #ECECE6;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.banner-ungrd a img {
  width: 100%;
  /* margin: 0 20px; */
}

.interesting-place-buttom {
  margin-top: 90px;
  text-align: center;
}

.interesting-place-buttom a {
  display: inline-block;
}

.buttom-place {
  margin-right: 22px;
}

.buttom-place:nth-of-type(4) {
  margin-right: 0;
}

footer {
  border-top: 6px solid #09B6DA;
  margin-top: 80px;
  
}
footer span {
  margin-right: 10px;
}

.contact-dates {
  /* max-width: 1660px; */
  /* padding: 0 140px; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  background-color: #F6F6F6;
  height: auto;
  
}

.contact-dates h4 {
  font-size: 20px;
  color: #044052;
  font-weight: 700;
  margin-bottom: 22px;
}
.contact-dates a {

  color: #044052;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20.8px;
}

.contact-dates p {
  color: #044052;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20.8px;
}

.alcaldia-dates {
  padding-left: 140px;
  padding-right: 42px;
}

.nav-dates ul {
  display: block ;
}
.nav-dates li a {
  font-weight: 300;
  text-transform: capitalize;
}

.simger-dates {
  background-color: #09B6DA;
  padding-left: 42px;
  padding-right: 140px;
}

.alcaldia-dates, .nav-dates, .simger-dates {
  padding-top: 51px;
}

.date-place {
  display: flex;
}

.copyright {
  padding: 20px 0;
  background-color: #0BA2CF;
  text-align: center;
}

.copyright p {
  margin: 0;
  color: #044052;
}

.social-links a{
  margin-right: 12px;
}


/* desktop first empezando desde el MQ más grande */

@media screen and (max-width: 1366px) {
  .container, .hero-container, .last-news, .recomendation-video-container, .newsletter-container {
    padding: 0 1em ;
  }
}

@media screen and (max-width: 1320px) {
  .contact-dates {
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  
  .form-email button {
    margin-top: 1.2em;
  }

  .alcaldia-dates {
    padding-left: 2.5em;
  }
  .simger-dates {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.nav-dates ul {
  text-align: left;
}

}

@media screen and (max-width: 1166px){

  header {
    padding: 0.5em 0;
    height: auto;
  }

  /* .logo-simger img {
    max-width: 100px;
  }

  .logo-gov img {
    max-width: 150px;
  } */

.buttom-place:nth-of-type(3) {
  margin-right: 0;
}

.menu, .logo-gov {
  display: none;
}



li a {
  font-size: .8em;
}

nav ul {
  flex-wrap: wrap;
  justify-content: center;
}

.last-news-container {
	grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: auto;
}





}


@media screen and (max-width: 1147px){

  .newsletter {
    padding: 2em 0;
  }
  .newsletter-container {
    justify-content: center;
  }

  .newsletter-image {
    display: none;
  }

  
  .form-email {
    max-width: 80%;
    /* padding: 0 1.3em; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-email input {

    margin: 0 1em 1em 0;

  }


  .description-recomendation h2 {
    font-size: 2.8em;
  }



}

@media screen and (max-width: 767px){

  .newsletter-container {
    padding: 1em 1em;
  }

  .form-email {
    width: 100%;
  }

  .description-recomendation h2 {
    font-size: 2.3em;
  }
  .video-container img {
    width: 100%;
    margin-top: 2em;
   
  }

  .hero h1 {
    font-size: 3em;
    
  }


  .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-email input {

    margin: 0 0 1em 0;

  }

  .buttom-place {
    margin: 0;
  }
  
  .slides-button {
    width: 100%;
  }
  
}
@media screen and (max-width: 480px){
  .last-news-container {
    grid-template-rows: repeat(4,1fr);
  }
  .news:nth-of-type(1) {
    grid-row: 1 / 3;
  }

  .description-news-p h2 {
    
    font-size: 2em;
  }

  .description-news-p h5 {
    font-size: 1em;
  }

  .form-email h2 {
    font-size: 1.8em;
  }

  .contact-dates {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  
  .alcaldia-dates, .simger-dates, .nav-dates {
    
    padding: 2.5em;
  }
  .simger-dates {
    grid-column: 1/2;
  }

  .item {
    display: block;
    margin: 0 0 1.8em;
  }

  .event-dates .date {
    padding: 0;
    border: none
  }

  .hero-container button {
    width: 100%;
  }

  .hero h1 {
    font-size: 2em;
  }

}


@media screen and (max-width: 414px){
  .hero h1 {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 320px){
  
  .hero h1 {
    font-size: 1.4em;
}

}